# Authentication
JWT_SECRET=

# Database
MONGODB_URI=
MONGODB_URI_TEMP=

# Email Account 1
EMAIL_USER_1=
EMAIL_PASSWORD_1=

# Email Account 2
EMAIL_USER_2=
EMAIL_PASSWORD_2=

# Email Account 2 (Temporary)
EMAIL_USER_2_TEMP=
EMAIL_PASSWORD_2_TEMP=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# pCloud
PCLOUD_TOKEN=
PCLOUD_TOKEN_TEMP=
PCLOUD_PUBLIC_PROFILE_FOLDER_ID=
PCLOUD_PUBLIC_FILES_FOLDER_ID=
PCLOUD_BACKUP_FOLDER_ID=

# Push Notifications (Web Push)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=